.Content {
    transform: translateY(30%);
    text-align: center;
}

.Content h1 {
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Content h3 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

.Content p {
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Link {
    margin-top: 15px;
}

.Button {
    width: 100px;
    padding: 6px 10px;
    text-align: cetner;
    margin: 1px 5px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #1EBBD7;
    background: transparent;
}

.Button:hover {
    background: #1EBBD7;
    color: white;
    font-weight: 100;
}

.Paragraph {
    margin-bottom: 15px;
}

.Content i {
    color: #1EBBD7;
    font-size: 2rem;
}

@media (max-width: 432px) {
    .Content h1 {
      font-size: 34px;
    }
  }
